# secrets
## 아무 이름이나 상관 없음
DB_CONTAINER_NAME= # 로컬에서 돌릴 떈 비워뒤기
DB_DATABASE_NAME=
REDIS_CONTAINER= # 로컬에서 돌릴 떈 비워뒤기
REDIS_PASSWORD=
MAIL_PW= # naver 이메일 비밀번호
AWS_S3_ACCESS_KEY_ID=
AWS_S3_SECRET_ACCESS_KEY=

## DB 생성 시 루트 유저로 생성할 유저의 정보
DB_USER=
DB_PASSWORD=

## 개발 단계에서는 아무 string이라도 상관 없음
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=


# variables
DOMAIN=
TZ=Asia/Seoul
NODE_ENV=development
DB_TCP_PORT=5432
REDIS_TCP_PORT=6379
ACCESS_EXPIRE_TIME=3600000
REFRESH_EXPIRE_TIME=86400000
BACK_END_URL=http://localhost:3000
FRONT_END_URL=http://localhost:3001
MAIL_FROM=  # example@naver.com 뒤에 메일 주소까지 전체 다 작성
AWS_S3_REGION=ap-northeast-2
AWS_S3_BUCKET_NAME=
SERIES_ID=4 # 포스트 시즌 용 임시

SWAGGER_USER=#배포시에만 사용
SWAGGER_PW=#배포시에만 사용